__pycache__/
*.pyc
.venv/
venv/
outputs/*
!outputs/.gitkeep
benchmarks/raw/*
!benchmarks/raw/.gitkeep
benchmarks/ground_truth/*
!benchmarks/ground_truth/.gitkeep
benchmarks/results/*
!benchmarks/results/.gitkeep
*.zip
*.mp4
*.ply
*.pcd
*.las
*.laz

.pytest_cache/
